

.textDecoration{
    text-decoration: none;
    color: black;
}

.rules-box{
    text-align: center;
    text-overflow: initial;
    width: auto;
    overflow: auto;
    
}



.tile {
    height: 6rem;
    width: 6rem;
    margin: 0.5rem;
    font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.tile2{
    height: 10rem;
    width: 6rem;
    font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding-top: 3%;
}

.space{
    border: none;
}

.board{
    padding: 8%;
}

.boardGame {
    height: 16rem;
    width: 60rem;
    padding: 0.3rem;
    background-image: url('../images/wood_board.png');
    margin: 0.4rem;
    border-radius: 15px;     
    box-shadow: inset 0 0 1em #DFD186, 0 0 1em grey;
    box-shadow: 2px 2px 9px #555; 
}

.title{
    margin-top: 1.5rem;
}

.cartas{
    border-radius: 15px;
    box-shadow: inset 0 0 1em #DFD186, 0 0 1em grey;
    box-shadow: 2px 2px 9px #555;
    background-color: rgba(51, 51, 51, 0.534);
}

