.textDecoration{
    text-decoration: none;
    color: black;
}

.rules-box{
    text-align: center;
    text-overflow: initial;
    width: auto;
    overflow: auto;
    
}



.tile {
    height: 6rem;
    width: 6rem;
    margin: 0.5rem;
    font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.tile2{
    height: 10rem;
    width: 6rem;
    font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding-top: 3%;
}

.space{
    border: none;
}

.board{
    padding: 8%;
}

.boardGame {
    height: 16rem;
    width: 60rem;
    padding: 0.3rem;
    
}

.title{
    margin-top: 1.5rem;
}

